/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(0,138,255,1) 0%, rgba(0,138,255,1) 0%, rgba(0,0,0,1) 51%);
}
h1,
h2,
h3,
p,
a{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    body{
        background: radial-gradient(circle, rgba(0,138,255,1) 0%, rgba(0,138,255,1) 0%, rgba(0,0,0,1) 80%);
    }
}